*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    background-color: #fbdc00;
    
}
.logo{
    /* position: fixed; */
    display: inline-block;
    /* margin-left: 40px; */
    z-index: 100;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 90px;
    margin-inline-end: 80px;
    padding-inline-start: 40px
    /* box-sizing: border-box; */
}

button {
    font-family: "PT Sans",sans-serif;;
    font-size: 14px!important;
    font-weight: 700!important;
}
 #navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    padding-inline-start: 80px
 }
 /* ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
 } */
 #navbar ul li{
    display: flex;
    font-weight: bold;
    margin-left: 20px;
    /* border-radius: 40px; */
    /* justify-content: center; */
    cursor: pointer;
 }
 #navbar ul li div:hover{
    color: red;
 }
 ul.navlist2{
    /* display: flex; */
    /* margin-right: 1px;
    margin-left: 20px;
    margin-right: 20px;   */
    /* float: right; */
 }
 .sign_up{
    /* min-width:62px;
    height: 36px; */
    /* margin-inline-start: 100px; */
    /* margin-inline-end: px; */
    /* justify-content: center; */
    background-color: red; 
    border: 8px solid red;
    border-radius: 10px;
    border-color: red;
    padding-inline-end: 1rem;
 }
 .button_signup{
    color: #fff;
    font-size: 15px;
    /* margin-inline-start: 40px; */
    /* margin-inline-end: 5px; */
    justify-content: center;
    background-color: red;
    /* border-radius: 4px 16px solid red; */
    border: none;
    padding: 1px 2px;
    /* border-radius: 10px; */
 }
 .header_ladki{
    /* position: fixed; */
    display: flex;
    width: 100%;
    /* z-index: 100; */
    /* padding-top: 57px; */
    /* margin-top: -7px; */
    background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp);
    background-color: #fbdc00;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
 }
 .styles_content_container__Lq4ZE{
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto; */
    /* width:; */
 }
 h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 3em;
    margin-block-end: 0.6em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ladki_image{
    display: flex;
    /* position: fixed; */
    /* margin-inline-start:900px ; */
    /* margin-inline-end: 100px; */
    /* margin-right: auto; */
    /* margin-top: 240px; */
    /* margin-inline-start: 100px; */
}
.home_button{
    color: #fff;
    background-color: red;
    /* align-items: center; */
    /* justify-content: center; */
    border: 8px solid red;
    padding: 5px 35px;
    border-radius: 10px ;
    cursor: pointer;
}


 


